{% load static %}
<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="zh-CN"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="community">
	            <meta name="author" content="zw">

                <title>第十八届电子设计大赛</title>

                <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
				
                <!-- Style Sheet-->
                
                <link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'css/bootstrap.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href="{% static 'css/responsive.css' %}" type='text/css' media='all' /> 
                <!--<link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />-->
                <link rel='stylesheet' id='main-css-css'  href="{% static 'css/main.css' %}" type='text/css' media='all' />
                <!--<link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html?ver=1.0' type='text/css' media='all' />-->


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->


        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="{% url 'index:index' %}"  id="eesast" style="font-size:17px; font-weight:bold;">
                                                      天赐良机
                                                </a>
                                             
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="{% url 'index:index' %}">主页</a></li>
                                                                <li><a href="{% url 'index:introduction' %}">赛事介绍</a></li>
                                                                <li><a href="{% url 'teams:index' %}">组建队伍</a></li>
                                                                <li><a href="{% url 'login:login' %}">用户</a></li>
                                                                <li  class="current-menu-item"><a href="{% url 'community:community_index' %}">论坛</a></li>
                                                                <li><a href="{% url 'index:notice' %}">文件</a></li>
																<li><a href="{% url 'index:rule' %}">比赛规则</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com" target="_blank">关于我们</a></li>
                                                                                <li><a href="{% url 'contact:contact' %}">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li style="font-size:18px;bold">Welcome!<a href="{% url 'login:login' %}"> {{request.user.username}}</a></li>
														        <li><a href="http://www.eesast.com" target="_blank">电子系科协</a></li>
																<li><a href="#">自动化系科协</a></li>
														</ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->
				
				<!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container" id="page">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <article class="type-page hentry clearfix">
                                                        <h1 class="post-title">
                                                                新的帖子
                                                        </h1>
                                                        <hr>
                                                        <p>请在下面完成您的帖子，其中标题和内容是必填项</p>
                                                </article>


                                                <form id="contact-form" class="row"  method="post">
														{% csrf_token %}

                                                        <div class="span2">
                                                                <label for="name">标题 <span>*</span> </label>
                                                        </div>
                                                        <div class="span6">
                                                                <input type="text" name="title" id="name" class="required input-xlarge" value="" title="* Please provide your name">{{form.title.errors}}
                                                        </div>

                                                        <div class="span2">
                                                                <label for="email">概要<span></span></label>
                                                        </div>
                                                        <div class="span6">
                                                                <input type="text" name="outline" id="outline" value="" title="Please provide an outline">
                                                        </div>

                                                        <div class="span2">
                                                                <label for="message">内容 <span>*</span> </label>
                                                        </div>
                                                        <div class="span6">
                                                                <textarea name="body" id="body" class="required span6" rows="12" title="* Please enter your message"></textarea>{{form.body.errors}}
                                                        </div>
														
														<div class="span2">
                                                                <label for="message">类型 <span>*</span> </label>
                                                        </div>
                                                        <div class="span6">
                                                                <select name="category" id="category" class="required span6" rows="12" title="* Please enter your message">{{form.category.errors}}
																<option value="1">赛事公告</option>
																<option value="2">技术讨论</option>
																<option value="3">各路水贴</option>
																</select>
                                                        </div>

                                                        <div class="span6 offset2 bm30">
                                                                <input type="submit" name="submit" value="Put the Post" class="btn btn-inverse" >
                                                                <img src="{% static 'images/loading.gif'}" id="contact-loader" alt="Loading...">
                                                        </div>

                                                        <div class="span6 offset2 error-container"></div>
                                                        <div class="span8 offset2" id="message-sent"></div>

                                                </form>
                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">

                                                <section class="widget">
                                                        <div class="support-widget">
                                                                <h3 class="title">Welcome</h3>
                                                                <p class="intro">小车做好了吗？代码调试完了吗？bug都de完了吗？发什么帖子，你们呀，还是too young, 还是要学习一个，我今天算是得罪了你们一下。</p><a href="{% url 'contact:contact' %}">联系我们</a>
                                                        </div>
                                                </section>

                                                <section class="widget">
                                                        <h3 class="title">文章分类</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_tongzhi' %}">赛事公告</a></h4>
                                                                        <span class="article-meta">这里有重要的信息不能错过</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_jishu' %}">技术讨论</a></h4>
                                                                        <span class="article-meta">一起探讨技术是一件美妙的事情</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_shuitie' %}" >各路水贴</a></h4>
                                                                        <span class="article-meta">我们来随便聊一聊</span>
                                                                </li>
																<li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_mypost' %}">我的帖子</a></h4>
                                                                        <span class="article-meta">找到自己发布的帖子</span>
                                                                </li>
                                                        </ul>
                                                </section>


                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->
				
				 <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © All Rights Reserved by EESAST from Tsinghua
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>
				

                <!-- script -->
                <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/jflickrfeed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.validate.min.js' %}"></script>

        </body>
</html>