{% load static %}
<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="zh-CN"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="community">
	            <meta name="author" content="zw">

                <title>第十八届电子设计大赛</title>

                <link rel="shortcut icon" href="{% static 'community/images/favicon.png' %}">
				
                <!-- Style Sheet-->
                
                <link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'community/css/bootstrap.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href="{% static 'community/css/responsive.css' %}" type='text/css' media='all' /> 
                <!--<link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />-->
                <link rel='stylesheet' id='main-css-css'  href="{% static 'community/css/main.css' %}" type='text/css' media='all' />
                <!--<link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html?ver=1.0' type='text/css' media='all' />-->


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->
				<style>
				#noreply {
				display:none;
				position:fixed;
				bottom:50%;
				left:50%;
				border: 0.2px solid;
				background-color:#fff;
				width:20%;
				z-index:1000;
				padding:15px;
				}
                </style>


        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="www.eesast.com"  id="eesast" >
                                                      EESAST
                                                </a>
                                             
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                            <li  class="current-menu-item"><a href="{% url 'index:index' %}">主页</a></li>
                                                                <li><a href="team.html">组建队伍</a></li>
                                                                <li><a href="{% url 'login:login' %}">登录</a></li>
                                                                <li><a href="{% url 'community:community_index' %}">论坛</a></li>
                                                                <li><a href="{% url 'index:notice' %}">文件</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com" target="_blank">关于我们</a></li>
                                                                                <li><a href="{% url 'contact:contact' %}">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li><a href="http://www.eesast.com" target="_blank">电子系科协</a></li>
																<li><a href="#">自动化系科协</a></li>
														</ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 main-listing">

                                                <article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="community_content.html?post.title={{post.title}}">{{post.title}}</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">{{post.timestamp}}</span>
                                                                        <span class="category">{{post.sender}}</span>
                                                                        <span class="comments">{{post.replycount}} 回复</span>
                                                                     
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <p>{{post.content}}</p>

                                                </article>

                                                <article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="community_content.html">Using Javascript</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">25 Feb, 2013</span>
                                                                        <span class="category"><a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Using Javascript">0 Comments</a></span>
                                                                        
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <p>Many of us work in an endless stream of tasks, browser tasks, social media, emails, meetings, rushing from one thing to another, never pausing and never ending.&nbsp;Then the day is over, and we are exhausted, and we often have very little to show for it. And we start the next . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                                                </article>

                                                <article class=" type-post format-image hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="community_content.html">Using Images</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">25 Feb, 2013</span>
                                                                        <span class="category"><a href="#" title="View all posts in Designing in WordPress">Designing in WordPress</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Using Images">0 Comments</a></span>
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <a href="#" title="Using Images"><img width="770" height="501" src="{% static 'community/images/temp/living-room-770x501.jpg' %}" class="attachment-std-thumbnail wp-post-image" alt="Living room"></a>

                                                        <p>Many of us work in an endless stream of tasks, browser tasks, social media, emails, meetings, rushing from one thing to another, never pausing and never ending.&nbsp;Then the day is over, and we are exhausted, and we often have very little to show for it. And we start the next . . . </p>

                                                </article>

                                              

                                                <article class=" type-post  format-standard hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="community_content.html">WordPress Site Maintenance</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">24 Feb, 2013</span>
                                                                        <span class="category"><a href="#" title="View all posts in Website Dev">Website Dev</a></span>

                                                                        <span class="comments"><a href="#" title="Comment on WordPress Site Maintenance">0 Comments</a></span>

                                                                      
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <p>Many of us work in an endless stream of tasks, browser tasks, social media, emails, meetings, rushing from one thing to another, never pausing and never ending.&nbsp;Then the day is over, and we are exhausted, and we often have very little to show for it. And we start the next . . . </p>

                                                </article>

                                                <div id="pagination">
                                                        <a href="#" class="btn active">1</a>
                                                        <a href="#" class="btn">2</a>
                                                        <a href="#" class="btn">3</a>
                                                        <a href="#" class="btn">Next »</a>
                                                        <a href="#" class="btn">Last »</a>
                                                </div>

                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">

                                                <section class="widget">
                                                        <div class="support-widget">
                                                                <a href="javascript:void(0)" onclick = "document.getElementById('noreply').style.display='block'" class="comment-reply-link""><button class="clean-gray">创建新的帖子</button></a>
                                                        </div>
                                                </section>

                                                                                                <div id='noreply'>
																								
																								<div class="container">
																								<p style="font-size:20px;">您还没有登录，不能发帖和回复</p>
																								<p style="font-size:20px;"><a href="login.html">点此登录</a></p>
																								<p style="font-size:20px;"><a href="community_index.html">退出</a></p>
																								</div>
													
																								
																								</div>
                                                <section class="widget">
                                                        <h3 class="title">Featured Articles</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="community_content.html?post.tilte={{post.title}}">Integrating WordPress with Your Website</a></h4>
                                                                        <span class="article-meta">{{post.timestamp}} by {{post.sender}}</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="community_content.html?post.tilte={{post.title}}">Integrating WordPress with Your Website</a></h4>
                                                                        <span class="article-meta">{{post.timestamp}} by {{post.sender}}</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="community_content.html?post.tilte={{post.title}}">Integrating WordPress with Your Website</a></h4>
                                                                        <span class="article-meta">{{post.timestamp}} by {{post.sender}}</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="community_content.html?post.tilte={{post.title}}">Integrating WordPress with Your Website</a></h4>
                                                                        <span class="article-meta">{{post.timestamp}} by {{post.sender}}</span>
                                                                </li>
                                                        </ul>
                                                </section>



                                                <section class="widget"><h3 class="title">您还没有登录！</h3>
                                                        
                                                </section>

                                                
                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->



                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © All Rights Reserved by EESAST from Tsinghua
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>
				

                <!-- script -->
                <script type='text/javascript' src="{% static 'community/js/jquery.min.js' %}"></script>
                <script type='text/javascript' src="{% static 'community/js/custom.js' %}"></script>

        </body>
</html>
