{% load static %}
<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="zh-CN"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="community">
	            <meta name="author" content="zw">

                <title>第十八届电子设计大赛</title>

                <link rel="shortcut icon" href="{ static 'images/favicon.png'}">
				
                <!-- Style Sheet-->
                
                <link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'css/bootstrap.css' %}"type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href="{% static 'css/responsive.css' %}"type='text/css' media='all' /> 
                <!--<link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />-->
                <link rel='stylesheet' id='main-css-css'  href="{% static 'css/main.css' %}"type='text/css' media='all' />
                <!--<link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html?ver=1.0' type='text/css' media='all' />-->


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->
				<style>
				#noreply {
				display:none;
				position:fixed;
				bottom:50%;
				left:50%;
				border: 0.2px solid;
				background-color:#fff;
				width:20%;
				z-index:1000;
				padding:15px;
				}
                </style>


        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="{% url 'index:index' %}"  id="eesast" style="font-size:17px; font-weight:bold;">
                                                      天赐良机
                                                </a>
                                             
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="{% url 'index:index' %}">主页</a></li>
                                                                <li><a href="{% url 'index:introduction' %}">赛事介绍</a></li>
                                                                <li><a href="{% url 'teams:index' %}">组建队伍</a></li>
                                                                <li><a href="{% url 'login:login' %}">登录</a></li>
                                                                <li  class="current-menu-item"><a href="{% url 'community:community_index' %}">论坛</a></li>
                                                                <li><a href="{% url 'index:notice' %}">文件</a></li>
																<li><a href="{% url 'index:rule' %}">比赛规则</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com" target="_blank">关于我们</a></li>
                                                                                <li><a href="{% url 'contact:contact' %}">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li><a href="http://www.eesast.com">电子系科协</a></li>
																<li style="font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; color: #c1cad1;">自动化系科协</li>
														</ul>
                                                </div>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container" id="page">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 main-listing">

                                                {% if posts %}
												{% for post in posts.object_list %}
												<article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="community_content/{{post.id}}">{{post.title}}</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">{{post.timestamp}}</span>
                                                                        <span class="category"><img alt="" src="{{request.user.profile.image.url}}" class="avatar avatar-60 photo" style="display:inline; border-radius:25px; height:25px; width:25px;">&nbsp&nbsp {{post.sender}}</span>
                                                                        <span class="comments">{{post.p_comment.count}} 回复</span>
                                                                     
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <p>{{post.content}}</p>

                                                </article>
												{% endfor %}
												{% else %}<p>现在没有帖子！</p>
												{% endif %}

                                                <div id="pagination">
													{%if posts.has_previous %}
														<a href="community_index?page={{posts.previous_page_number}}" class="btn">上一页</a>
													{% endif %}
														{% for i in pagerange %}
                                                        <a href="community_index?page=i" class="btn active">i</a>
                                                        {% endfor %}
                                                    {%if posts.has_next %}
														<a href="community_index?page={{posts.next_page_number}}" class="btn">下一页</a>
													{% endif %}
                                                        <a href="community_index?page={{posts.paginator.num_pages}}" class="btn">最后页</a>
                                                </div>

                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">

                                                <section class="widget">
                                                        <div class="support-widget">
															{% if request.user.authenticated %}
																<div class="comment-reply-link""><button class="clean-gray"><a href="{% url 'community_create' %}">创建新的帖子</a></button></div>
															{% else %}
                                                                <div onclick = "document.getElementById('noreply').style.display='block'" class="comment-reply-link""><button class="clean-gray">创建新的帖子</button></div>
																
                                                        </div>
                                                </section>

                                                                                                <div id='noreply'>
																								<div class="container">
																								<p style="font-size:20px;">您还没有登录，不能发帖和回复</p>
																								<p style="font-size:20px;"><a href="{% url 'login:login' %}">点此登录</a></p>
																								<p style="font-size:20px;"><a onclick = "document.getElementById('noreply').style.display='none'">退出</a></p>
																								</div>
													
																								
																								</div>
															{% endif %}
													
																								
																								
                                                <section class="widget">
                                                        <h3 class="title">文章分类</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_tongzhi' %}">赛事公告</a></h4>
                                                                        <span class="article-meta">这里有重要的信息不能错过</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_jishu' %}">技术讨论</a></h4>
                                                                        <span class="article-meta">一起探讨技术是一件美妙的事情</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_shuitie' %}" >各路水贴</a></h4>
                                                                        <span class="article-meta">我们来随便聊一聊</span>
                                                                </li>
													
                                                        </ul>
                                                </section>



                                                <section class="widget"><h3 class="title">您还没有登录！</h3>
                                                        
                                                </section>

                                                
                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->



                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © All Rights Reserved by EESAST from Tsinghua
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>
				

                <!-- script -->
                <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/jflickrfeed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.validate.min.js' %}"></script>

        </body>
</html>
