<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="index">
	<meta name="author" content="zw">

<title>第十八届电子设计大赛官网</title>

<!-- Bootstrap core CSS -->
<link rel='stylesheet' id='bootstrap-css-css'  href='../css/bootstrap.css' type='text/css' media='all' />
<link href="../css/docs.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
<link rel='stylesheet' id='responsive-css-css'  href='../css/responsive.css' type='text/css' media='all' />




<style type="text/css">

a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

</style> 
</head>
<body>

{% include 'nav.html' %}
{% include 'title.html' %}

{% block content %}
{% endblock %}

{% include 'footer.html' %}

</body>
</html>

