.file {
	margin:20px;
	padding:20px;
	top:50px;
	left:150px;
	position: fixed;
}

p {
	padding: 0px;
	margin-top:20px;
}

.file input[type="file"] {
	
	width: 350px;
	margin£»20px;
	font-size: 20px;
}

h1 {
	margin-bottom:50px;
}