{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="contact">
    <meta name="author" content="zw">


    <title>Contact Us</title>


    <link href="{% static 'contact/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'contact/css/contact.css' %}" rel="stylesheet">

  </head>
  
  <body>
    <div class="container-fluid">
	  
	    
	    <form class="form-contact" method="post">
		<h2>Contact Us</h2>
		<h3>Your email</h3>
		<input type="email" name="txtform" id="emailform" size="50" maxlength="250" required>
		<h3>Your advice or question</h3>
		<textarea name="txtBody" id="emailbody" cols="100" rows="15" placeholder="Write your advice here"></textarea>
	 
	  
	    <p>Do you want to receive emails from us?</p>
		<p><input type="radio" name="radselect" value="Yes">Yes</p>
		<p><input type="radio" name="radselect" value="No">No</p>
	  
	  
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	    </form>
	  
	</div>
	
  </body>
</html>
	    
		
