<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="contact">
	<meta name="author" content="zw">

<title>第十八届电子设计大赛官网</title>

<!-- Bootstrap core CSS -->
<link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'contact/css/bootstrap.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css-css'  href="{% static 'contact/css/responsive.css' %}" type='text/css' media='all' /> 
<link href="{% static 'contact/css/contact.css' %}" rel="stylesheet">


<style type="text/css">

a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

</style> 




<!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="{% url 'index:index' %}"  id="eesast" style="font-size:17px; font-weight:bold;">
                                                      天赐良机
                                                </a>
                                             
                                        </div>


                                                                               <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="{% url 'index:index' %}">主页</a></li>
                                                                <li><a href="{% url 'index:introduction' %}">赛事介绍</a></li>
                                                                <li><a href="{% url 'teams:index' %}">组建队伍</a></li>
                                                                <li><a href="{% url 'login:login' %}">用户</a></li>
                                                                <li><a href="{% url 'community:community_index' %}">论坛</a></li>
                                                                <li><a href="{% url 'index:notice' %}">文件</a></li>
																<li><a href="{% url 'index:rule' %}">比赛规则</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com" target="_blank">关于我们</a></li>
                                                                                <li  class="current-menu-item"><a href="{% url 'contact:contact' %}">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li style="font-size:18px;bold">Welcome!<a href="{% url 'login:login' %}"> {{request.user.username}}</a></li>
														        <li><a href="http://www.eesast.com" target="_blank">电子系科协</a></li>
																<li><a href="#">自动化系科协</a></li>
														</ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->


                 <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->
				
				
                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container" id="page">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <article class="type-page hentry clearfix">
                                                        <h1 class="post-title">
                                                                <a href="#">Contact</a>
                                                        </h1>
                                                        <hr>
                                                        <p>请把您对我们的意见和建议写在下面，我们将会认真研究，并给予您答复，谢谢您的支持！&nbsp&nbsp&nbsp&nbsp&nbsp————电设开发组</p>
                                                </article>


                                                <form id="contact-form" class="row" action="#" method="post">

                                                        <div class="span2">
                                                                <label for="email">Your Email <span>*</span></label>
                                                        </div>
                                                        <div class="span6">
                                                                <input type="text" name="email" id="email" class="email required input-xlarge" value="" title="* Please provide a valid email address">
                                                        </div>

                                                        <div class="span2">
                                                                <label for="reason">Subject </label>
                                                        </div>
                                                        <div class="span6">
                                                                <input type="text" name="reason" id="reason" class="input-xlarge" value="">
                                                        </div>

                                                        <div class="span2">
                                                                <label for="message">Your Message <span>*</span> </label>
                                                        </div>
                                                        <div class="span6">
                                                                <textarea name="message" id="message" class="required span6" rows="6" title="* Please enter your message"></textarea>
                                                        </div>

                                                        <div class="span6 offset2 bm30">
                                                                <input type="submit" name="submit" value="Send Message" class="btn btn-inverse">
                                                                <img src="images/loading.gif" id="contact-loader" alt="Loading...">
                                                        </div>

                                                        <div class="span6 offset2 error-container"></div>
                                                        <div class="span8 offset2" id="message-sent"></div>

                                                </form>
                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">

                                                <section class="widget">
                                                        <div class="support-widget">
                                                                <h3 class="title">有关我们</h3>
                                                                <p class="intro"><a href="http://www.eesast.com">想要了解更多电子系科协吗？想要加入科协收获知识收获经验吗？点击前往电子系科协主页</a></p>
                                                        </div>
                                                </section>

                                                <section class="widget">
                                                        <h3 class="title">文章分类</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_tongzhi' %}">赛事公告</a></h4>
                                                                        <span class="article-meta">这里有重要的信息不能错过</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_jishu' %}">技术讨论</a></h4>
                                                                        <span class="article-meta">一起探讨技术是一件美妙的事情</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="{% url 'community:community_index_shuitie' %}" >各路水贴</a></h4>
                                                                        <span class="article-meta">我们来随便聊一聊</span>
                                                                </li>
													
                                                        </ul>
                                                </section>


                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->
				
				<!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright ? All Rights Reserved by EESAST from Tsinghua
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>
				

                <!-- script -->
                <script type='text/javascript' src="{% static 'contact/js/jquery.min.js' %}"></script>
				<script type='text/javascript' src="{% static 'contact/js/custom.js' %}"></script>
				<script type='text/javascript' src="{% static 'contact/js/jflickrfeed.js' %}"></script>
                <script type='text/javascript' src="{% static 'contact/js/jquery.validate.min.js' %}"></script>

        </body>
</html>

		
