body {
  font-family:  "Arial", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
}



.bs-docs-section > p, .bs-docs-section > ul, 
.bs-docs-section > ol, .bs-callout > p, 
.bs-callout > ol, .bs-callout > ul {
	font-size: 16px;
	line-height: 2.00;
	margin-bottom: 1em;
	font-family:  Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
}

.bs-callout *:last-child {
	margin-bottom: 0;
}


#btn-block {

	font-size: 20px;
	font-family: arial;
	margin-right:20px;
	background-color: #fff;
	padding-top:30px;

}

#btn-block > p {
	margin-top:35px;
}
#content {
	background-color: #fff;
	color:white;
	padding:40px;
}

 

 
 /* General ------------------------------------------------------------------------------------------------------------*/
body {
  background-color: #fff;
}

a:hover {
  text-decoration: none;
}

blockquote {
  background: whitesmoke url("../images/quote.png") no-repeat 20px 25px;
  border: 1px solid #e8e8e8;
  padding: 20px 20px 20px 60px;
  color: #6f7579;
}
blockquote p {
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;
}

.bm10 {
  margin-bottom: 10px;
}

.bm20 {
  margin-bottom: 20px;
}

.bm30 {
  margin-bottom: 30px;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* Header - Logo and Nav ---------------------------------------------------------------------------------------------*/
.header-wrapper {
  background-color: white;
  width: 100%;
  height: 50px;
}
.header-wrapper .container {
  position: relative;
  min-height: 50px;
  height: auto !important;
  height: 50px;
}

.logo-container {
  padding: 15px 0;

}

.lt-ie9 .logo-container {
  width: 450px;
}

span.tag-line {
  color: #818a90;
  font-size: 12px;
  position: relative;
  top: 2px;
}
#eesast {
  color: #818a90;
  font-size: 20px;
  position: relative;
  top: 0px;
}


.main-nav div > #menu-top-right {
	position:absolute;
	right:0px;
	top:0;
}
.main-nav div > #menu-top-menu {
  position:absolute;
  top: 0px;
  left:10%;
}
.main-nav div > ul {
  width: auto;
  margin: 0;
}
.main-nav div > ul > li {
  position: relative;
  float: left;
  list-style: none;
  padding: 16px 14px 18px;
}
.main-nav div > ul > li a {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #c1cad1;
}
.main-nav div > ul > li a:hover {
  color: black;
}
.main-nav div > ul > li:hover > a {
  color: black;
}
.main-nav div > ul > li:last-child {
  padding-right: 0;
}
.main-nav div > ul li.current-menu-item a {
  color: black;
}
.main-nav .sub-menu {
  position: absolute;
  top: 56px;
  left: 0px;
  list-style: none;
  margin: 0;
  display: none;
}
.main-nav .sub-menu li {
  position: relative;
  background-color: #3b4348;
  padding: 6px 10px;
  width: 150px;
  cursor: pointer;
}
.main-nav .sub-menu li:hover {
  background-color: #292e32;
}
.main-nav .sub-menu li:hover > a {
  color: #fff;
}
.main-nav .sub-menu .sub-menu {
  top: 0px;
  right: 170px;
  left: auto;
}
.main-nav .responsive-nav {
  display: none;
}



/* Header - Search ---------------------------------------------------------------------------------------------------*/
.search-area-wrapper {
  background: #353b65 url("../images/main-bg.jpg") center top no-repeat;
  background-size: 100%;
  min-height: 250px;
  height: auto !important;
  height: 250px;
}
.search-area-wrapper .search-area {
  padding: 50px 0;
}

h2.search-header {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 43px;
  color: #fff;
  text-align: center;
  margin-bottom:40px;
}

p.search-tag-line {
  font-family: "Droid Serif", serif;
  font-size: 30px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  margin-bottom:5px;
}



#search-error-container label {
  color: #fff;
  padding: 5px;
  font-size: 14px;
}



.button {

/* text */
	text-decoration: 		none;
	font: 					24px/1em 'Droid Sans', sans-serif;
	font-weight: 			bold;
	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;
	
	
/* layout */
	padding: 				1em 1em 1em 1em;
	margin: 				0.5em;
	display: 				inline-block;
	position: 				relative;
	
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 	8px;
	
/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));

	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(0, 0%, 40%) !important;
	background-color: 	hsl(0, 0%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}

/* -------------- button (tag) -------------- */

button.button {
	border-left: none;
	border-right: none;
}
button.button:hover {
	cursor: pointer;
}






/* -------------- colours -------------- */

.button.orange {
	color: 				hsl(39, 100%, 30%) !important;
	background-color: 	hsl(39, 100%, 50%);

	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.orange:hover { 	background-color: hsl(39, 100%, 65%); }


.button.blue {
	color: 				hsl(208, 50%, 40%) !important;
	background-color: 	hsl(208, 100%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
}
.button.blue:hover { 	background-color: hsl(208, 100%, 83%); }

.button.green {
	color: 				hsl(88, 70%, 30%) !important;
	background-color: 	hsl(88, 70%, 60%);
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.green:hover { 	background-color: hsl(88, 70%, 75%); }

.button.pink {
	color: 				hsl(340, 100%, 30%) !important;
	background-color: 	hsl(340, 100%, 75%);
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.pink:hover { 	background-color: hsl(340, 100%, 83%); }



.button.transparent {
	color: 	rgba(0,0,0,0.5) !important;
}
.button.transparent, .button.transparent:hover, .button.transparent:active {
	background-color: transparent;
	background-image: none;
}
.button.transparent:hover {
	opacity: .9;
}



/* -------------- States -------------- */

.button:hover {
	background-color: 	hsl(0, 0%, 83%);
}



.button:active {
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
	background-image: 	-moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));

	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(.2em);
	-moz-transform: 	translateY(.2em);
	transform: 			translateY(.2em);
}

.button:focus {
	outline: none;
	color: rgba(254,255,255,0.9) !important;
	text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}

.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
	opacity: 			.5;
	cursor: 			default;
	color: 				rgba(0,0,0,0.2) !important;
	text-shadow: 		none !important;
	background-color: 	rgba(0,0,0,0.05);
	background-image: 	none;
	border-top: 		none;

	-webkit-box-shadow: inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(5px);
	-moz-transform: 	translateY(5px);
	transform: 			translateY(5px);
}

/* -------------- Fonts -------------- */

.serif { 
	font-family: 'Lobster', serif;
	font-weight: 			normal;
}


/* -------------- Sizes -------------- */

.xs { font-size: 16px; }
.xl { font-size: 37px; }


/* -------------- Materials -------------- */

.button.glossy:after, .button.glass:after {
	content: 	"";
	position: 	absolute; 
    width: 		90%;
    height: 	60%;
    top: 		0;
    left: 		5%;    
    
    -webkit-border-radius: 	.5em .5em 1em 1em / .5em .5em 2em 2em;    
    -moz-border-radius: 	.5em .5em 1em 1em / .5em .5em 2em 2em;
    border-radius: 			.5em .5em 1em 1em / .5em .5em 2em 2em;
    
    background-image: 		-webkit-gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ),
    							color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );	
    background-image: 		-moz-linear-gradient(left, rgba(255,255,255,.55), rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,.5) );	
    background-image: 		gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ),
    							color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );	
}
.button.glossy:active:after,
.button.glass:active:after,
.button.disabled:after,
.button[disabled]:after
 { opacity: .6; }

.button.icon.glossy:after,
.button.icon.glass:after { height: 75% ; }

/* -------------- Glass + Transparent -------------- */
.button.glass {
	text-shadow: rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,0.18) 0 .18em .15em;
}
.button.glass:active {
	text-shadow: rgba(255,255,255,.3) 0 1px 0, rgba(0,0,0,0.15) 0 .18em .15em;
}


/* -------------- Shapes -------------- */

/* round */
.round, .round.glossy:after, .round.glass:after { 
	border-top: none; 
	-webkit-border-radius: 	1em; 
	-moz-border-radius: 	1em; 
	border-radius: 			1em; 
}

/* oval */
.oval {
	border-top: 			none; 
    padding:                .5em;
	-webkit-border-radius: 	5em / 2em; 
	-moz-border-radius: 	5em / 2em; 
	border-radius: 			5em / 2em; 
}
.oval.glossy:after, .oval.glass:after { 	
	top: 					5%;
	-webkit-border-radius: 	5em / 2em 2em 1em 1em; 
	-moz-border-radius: 	5em / 2em 2em 1em 1em; 
	border-radius: 			5em / 2em 2em 1em 1em; 
}
.oval.icon {
	padding-left: 			.8em;
	padding-right: 			.8em;	
	-webkit-border-radius: 	1.5em / 1em; 
	-moz-border-radius: 	1.5em / 1em; 
	border-radius: 			1.5em / 1em; 
}
.oval.icon.glossy:after, .oval.icon.glass:after {	
	-webkit-border-radius: 	1.5em / 1em; 
	-moz-border-radius: 	1.5em / 1em; 
	border-radius: 			1.5em / 1em; 
}

/* Footer ------------------------------------------------------------------------------------------------------------*/


html,body {
	height:100%;
	margin:0;
	padding:0;
}

.page-container {
	min-height:100%;
	height:auto!important;
	height:100%;
	margin:0;
}

#page {
	padding-bottom:60px;
}
#footer-bottom-wrapper {
  background-color: #353c41;
  width: 100%;
  position:relative;
  margin-top:-60px;
  height:65px;
  
}
#footer-bottom-wrapper > #footer-bottom {
  min-height: 25px;
  height: auto !important;
  height: 25px;
  padding: 15px 35px 10px;
}

#footer-bottom .copyright {
  margin: 5px 0 10px;
}
#footer-bottom .social-nav {
  list-style: none;
  margin: 0;
}


/*------------------------------------------------------------------------------------------------------------------- */
/* Responsive: Header for devices below desktop --------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 979px) {
  /* logo */
  .logo-container {
    text-align: center;
    padding: 10px 0;
  }
  .logo-container img {
    display: block;
    margin: 10px auto 5px;
  }

  span.tag-line {
    color: #818a90;
    font-size: 12px;
    display: block;
    text-align: center;
  }

  .logo-heading {
    display: block;
    position: static;
    top: auto;
    text-align: center;
  }

  /* Navigation */
  .main-nav {
    position: static;
    top: auto;
    right: auto;
  }
  .main-nav > div > ul {
    text-align: center;
  }
  .main-nav > div > ul > li {
    float: none;
    display: inline-block;
  }
  .main-nav > div > ul > li .sub-menu {
    text-align: left;
    top: 55px;
  }
  .main-nav > div > ul > li .sub-menu li {
    width: 130px;
  }
  .main-nav > div > ul > li .sub-menu .sub-menu {
    right: auto;
    left: 150px;
  }

  /* Flickr */
  .flickr-photos {
    margin-left: -10px;
  }
  .flickr-photos img {
    width: 67px;
    height: 67px;
  }
}
/*------------------------------------------------------------------------------------------------------------------- */
/* Responsive: Landscape phone to desktop/tablet -------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
  /* Navigation */
  .main-nav > div {
    display: none;
  }
  .main-nav .responsive-nav {
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: auto;
    border-radius: 0;
    border: none;
  }

  /* Search Area */
  .search-area-wrapper {
    background-size: auto;
    min-height: 240px;
    height: auto !important;
    height: 240px;
  }
  .search-area-wrapper .search-area {
    padding: 20px 0;
  }
  .search-area-wrapper h3.search-header {
    font-size: 30px;
    padding: 0 15px;
  }
  .search-area-wrapper p.search-tag-line {
    padding: 0 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .search-area-wrapper form.search-form input.search-term {
    width: 60%;
  }

  /* Comments */
  .commentlist li.comment .children {
    margin-left: 0;
  }

  .social-nav > li {
    float: left;
    margin: 0;
    margin-right: 4px;
  }

  .hentry .post-meta .like-count {
    float: none;
  }

  .page-404 h1.title-404 {
    font-size: 100px;
    line-height: 105px;
    margin: 15px;
  }
}
/*------------------------------------------------------------------------------------------------------------------- */
/* Responsive: Portrait Phones -------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {
  /* Search Area */
  .search-area-wrapper form.search-form input.search-term {
    width: 80%;
    display: block;
    margin: 0 auto 10px;
  }
  .search-area-wrapper form.search-form input.search-btn {
    display: block;
    margin: 0 auto;
  }

  ul.articles .article-entry {
    padding-bottom: 20px;
  }

  #jquery-live-search #live-search-results {
    width: 248px;
  }
}
/* Menu Fix for resizing to Bigger Screen sizes */
@media (min-width: 980px) {
  .main-nav div > ul > li {
    float: none;
    display: inline-block;
  }
}