{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="team">
	<meta name="author" content="zw">

<title>第十八届电子设计大赛官网</title>

<!-- Bootstrap core CSS -->
<link rel="shortcut icon" href="{% static 'teams/img/电设18.png' %}" />
<link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'teams/css/bootstrap.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href="{% static 'teams/css/responsive.css' %}" type='text/css' media='all' /> 
                <!--<link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />-->
                <link rel='stylesheet' id='main-css-css'  href="{% static 'teams/css/team_index.css' %}" type='text/css' media='all' />
                <!--<link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html?ver=1.0' type='text/css' media='all' />-->




<style type="text/css">

a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

</style> 

</head>
<body>




<!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="{% url 'index:index' %}"  id="eesast" style="font-size:17px; font-weight:bold;">
                                                      天赐良机
                                                </a>
                                             
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="{% url 'index:index' %}">主页</a></li>
                                                                <li  class="current-menu-item"><a href="{% url 'teams:index' %}">组建队伍</a></li>
                                                                <li><a href="{% url 'login:login' %}">用户</a></li>
                                                                <li><a href="{% url 'community:community_index' %}">论坛</a></li>
                                                                <li><a href="{% url 'index:notice' %}">文件</a></li>
																<li><a href="{% url 'index:rule' %}">比赛规则</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com">关于我们</a></li>
                                                                                <li><a href="{% url 'contact:contact' %}">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li style="font-size:18px;bold">Welcome!<a href="{% url 'login:login' %}"> {{request.user.username}}</a></li>
														        <li><a href="http://www.eesast.com" target="_blank">电子系科协</a></li>
																<li style="font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; color: #c1cad1;">自动化系科协</li>
														</ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->


                 <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->
				
				
				
				<div class="page-container">
                        <div class="container" id="page">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span12 main-listing">
										       <h2 class="post-title">队伍信息</h2>
											   
											   
											   
											   
											{% if in_team %}
		
										       {% if is_leader %}
											   <table class="table table-striped table-bordered">
											        <thead>
													  <tr>
													    <td>队伍</td>
														<td>信息</td>
														<td>操作</td>
												      </tr>
													</thead>
											        <tbody>
												    <tr>
													  <td style="font-weight:bold;">队名</td>
													  <td>{{team.name}}</td>
													  <td>不可改</td>
													</tr>
													<tr>
													  <td style="font-weight:bold;">简介</td>
													  <td>{{team.intro}}</td>
													  <td>不可改</td>
													</tr>
													<tr>
													  <td style="font-weight:bold;">队长</td>
													  <td>{{team.leader.username}}</td>
													  <td>不可改</td>
													</tr>
													<tr>
													  <td style="font-weight:bold;">成员数</td>
													  <td>{{team.members.count|add:1}}</td>
													  <td>不可改</td>
													</tr>
													<tr>
													  <td style="font-weight:bold;">控制器</td>
													  <td>{{team.get_group_display}}</td>
													  <td>不可改</td>
                                                      
													</tr>
													{% for member in team.members.all %}
													<tr>
													  <td style="font-weight:bold;">成员</td>
													  <td>{{member.username}}</td>
													  <td>
                                                          踢出队伍
													  </td>
													</tr>
													{% endfor %}
													
													</tbody>
											   </table>
											   
                                              
											   
											   
											   <!--
											   <h2 class="post-title">有人申请加入你的队伍</h2>
											   <table class="table table-bordered table-striped">
											        <thead>
								
													  <tr>
													    <td>姓名</td>
														<td>申请理由</td>
														<td>操作</td>
													  </tr>
													</thead>
													<tbody>
                                                      {% if note %}
                                                        <p> {{note}} </p>
                                                      {% endif %}

                                                      {% if errors %}
                                                        {% for error in errors %}
                                                          <p> {{error}} </p>
                                                        {% endfor %}
                                                      {% endif %}

													  {% for applier in app_list %}
													  <tr>
													    <td>{{applier.applicant.username}}</td>
														<td>{{applier.reason}}</td>
														<td>
														  <form action="{% url 'teams:acceptOrReject' %}" method="post" style="display:inline;">
                                                            {% csrf_token %}
														    <input type="hidden" name="app_id" value="{{applier.id}}"> 
											                <input type="hidden" name="answer" value="agree"> 
											                <button class="btn btn-md btn-info" onclick="form.submit();" title="同意">同意</button>
											              </form>
                                                          <form action="{% url 'teams:acceptOrReject' %}" method="post" style="display:inline;" >
                                                            {% csrf_token %}
														    <input type="hidden" name="app_id" value="{{applier.id}}"> 
											                <input type="hidden" name="answer" value="disagree"> 
											                <button class="btn btn-md btn-info" onclick="form.submit();" title="拒绝">拒绝</button>
											              </form>
														</td>
													  </tr>
													  {% endfor %}
													 
													</tbody>

												</table>          -->

												
												<!--这里需要判断是否被选过时间了 -->
												{% if team.first_time == -1 %}
												<h2>请选择初赛时间（初赛将在11月10日及11日，9:30--11:30和13:30--17:00进行）</h2>
                                                <form action="{% url 'teams:choose_first_time' %}" method="post", style="display:inline;">
                                                {% csrf_token %}
                                                    {{form.choice}}
                                                <button class="btn btn-md btn-info" onclick="form.submit();" title="选择">选择</button>
                                                </form>

                                                {% endif %}
                                                {% if team.first_time != -1 %}
                                                 <h3>您的队伍预审时间为</h3>												
                                                 <h3>{{ team.get_first_time_display }}</h3>
												{% endif %}	  
											                
												
												{% endif %}
												
												{% if not is_leader %}
												<table class="table table-striped table-bordered">
											        <tbody>
												    <tr>
													  <td style="font-weight:bold;">队名</td>
													  <td>{{team.name}}</td>
													</tr>
													<tr>
													  <td style="font-weight:bold;">简介</td>
													  <td>{{team.intro}}</td>
													</tr>
													<tr>
													  <td style="font-weight:bold;">队长</td>
													  <td>{{team.leader.username}}</td>
													</tr>
													<tr>
													  <td style="font-weight:bold;">成员数</td>
													  <td>{{team.members.count|add:1}}</td>
													</tr>
													
													{% for member in members %}
													<tr>
													  <td style="font-weight:bold;">成员</td>
													  <td>{{member.username}}</td>
													</tr>
													{% endfor %}
													</tbody>
											   </table>
											   
											   {% endif %}
											{% endif %}
											{% if not in_team  %}
											<h3>您还没有加入任何一支队伍</h3>
											{% endif %}
									</div>
								</div>
							</div>
						</div>
												
		<!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © All Rights Reserved by EESAST from Tsinghua
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>
				

                <!-- script -->
                <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/jflickrfeed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.validate.min.js' %}"></script>

        </body>
</html>
											   
											   
													
													
