<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="team">
	<meta name="author" content="zw">

<title>第十八届电子设计大赛官网</title>

<!-- Bootstrap core CSS -->
<link rel='stylesheet' id='bootstrap-css-css'  href='../css/bootstrap.css' type='text/css' media='all' />
<link href="../css/team_index.css" rel="stylesheet">
<link rel='stylesheet' id='responsive-css-css'  href='../css/responsive.css' type='text/css' media='all' />




<style type="text/css">

a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

</style> 
</head>
<body>



<!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="http://www.eesast.com"  id="eesast" >
                                                      EESAST
                                                </a>
                                             
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="index_after_login.html">主页</a></li>
                                                                <li  class="current-menu-item"><a href="team_index.html">组建队伍</a></li>
                                                                <li><a href="community_index_after_login.html">论坛</a></li>
                                                                <li><a href="file_after_login.html">文件</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com">关于我们</a></li>
                                                                                <li><a href="contact_after_login.html">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li style="font-size:18px;bold">Welcome! {{username}}</li>
														        <li><a href="http://www.eesast.com">电子系科协</a></li>
																<li><a href="#">自动化系科协</a></li>
														</ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->


                 <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->
				
				
				<!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <article class="type-page hentry clearfix">
                                                        <h1 class="post-title">
                                                                <a href="#">加入队伍</a>
                                                        </h1>
                                                        <hr>
                                                        <p>您的请求将发送给该队队长，队长同意后您将自动进入该队伍</p>
                                                </article>


                                                <form id="contact-form" class="row" action="#" method="post">

                                                        <div class="span12">
                                                                <label for="email">你的姓名<span>*</span></label>
                                                        </div>
                                                        <div class="span12">
                                                                <input type="text" name="email" id="email" class="email required input-xlarge" value="此处后端传用户名" placeholder="">
                                                        </div>

                                                        <div class="span12">
                                                                <label for="reason">申请加入的队伍</label>
                                                        </div>
                                                        <div class="span12">
                                                                <input type="text" name="reason" id="reason" class="input-xlarge" value="此处后端传队伍名" placeholder="">
                                                        </div>

                                                        <div class="span12">
                                                                <label for="message">申请加入的理由<span>*</span> </label>
                                                        </div>
                                                        <div class="span12">
                                                                <textarea name="message" id="message" class="required span6" rows="12" title="* Please enter your message"></textarea>
                                                        </div>

                                                        <div class="span12 bm30">
                                                                <input type="submit" name="submit" value="提交" class="btn btn-inverse">
                                                                <img src="images/loading.gif" id="contact-loader" alt="Loading...">
                                                        </div>


                                                </form>
                                        </div>
                                        <!-- end of page content -->
										
										
										</div>
                        </div>
                </div>
                <!-- End of Page Container -->
				
				<!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © All Rights Reserved by EESAST from Tsinghua
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>
				

                <!-- script -->
                <script type='text/javascript' src='../js/jquery.min.js'></script>
				<script type='text/javascript' src='../js/custom.js'></script>

        </body>
</html>

		