{% load static%}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="team">
	<meta name="author" content="zw">

<title>第十八届电子设计大赛官网</title>
                <link rel="shortcut icon" href="{% static 'teams/img/电设18.png' %}" />
                <link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'teams/css/bootstrap.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href="{% static 'teams/css/responsive.css' %}" type='text/css' media='all' /> 
                <!--<link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />-->
                <link rel='stylesheet' id='main-css-css'  href="{% static 'teams/css/team_index.css' %}" type='text/css' media='all' />
                <!--<link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html?ver=1.0' type='text/css' media='all' />-->




<style type="text/css">

a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

</style> 
</head>
<body>



<!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="{% url 'index:index' %}"  id="eesast" style="font-size:17px; font-weight:bold;">
                                                      天赐良机
                                                </a>
                                             
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="{% url 'index:index' %}">主页</a></li>
                                                                <li><a href="{% url 'index:introduction' %}">赛事介绍</a></li>
                                                                <li  class="current-menu-item"><a href="{% url 'teams:index' %}">组建队伍</a></li>
                                                                <li><a href="{% url 'login:login' %}">用户</a></li>
                                                                <li><a href="{% url 'community:community_index' %}">论坛</a></li>
                                                                <li><a href="{% url 'index:notice' %}">文件</a></li>
																<li><a href="{% url 'index:rule' %}">比赛规则</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com">关于我们</a></li>
                                                                                <li><a href="{% url 'contact:contact' %}">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li style="font-size:18px;bold">Welcome!<a href="{% url 'login:login' %}"> {{request.user.username}}</a></li>
														        <li><a href="http://www.eesast.com" target="_blank">电子系科协</a></li>
																<li style="font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; color: #c1cad1;">自动化系科协</li>
														</ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->


                 <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->
				
				
				
				<!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container" id="page">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span12 page-content">

                                                <article class="type-page hentry clearfix">
                                                        <h1 class="post-title">
                                                                <a href="#">创建队伍</a>
                                                        </h1>
                                                        <hr>
                                                        <p>创建一支属于自己的队伍并招募小伙伴！</p>
                                                </article>


                                                <form id="contact-form" class="row" action="{% url 'teams:create' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="span6">
                                                                <label for="email">队伍名称 <span>*</span></label>
                                                        </div>
                                                        <div class="span11">
                                                                <input type="text" name="name" id="name" class="email required input-xlarge" value="" title="* Please provide a name">
                                                        </div>

  
                                                        <div class="span6">
                                                                <label for="message">队伍简介 <span>*</span> </label>
                                                        </div>
                                                        <div class="span11">
                                                                <textarea name="intro" id="intro" class="required span6" rows="6" title="* Please enter your message"></textarea>
                                                        </div>

                                                        <div class="span11 bm30">
                                                                <input type="submit" name="submit" value="创建队伍" class="btn btn-inverse btn-lg">
                                                                
                                                        </div>


                                                </form>
												{% if errors %}
												  {% for errormessage in errors %}
												   <p>{{errormessage}}</p>
												  {% endfor %}
												  
												{% endif %}
												  
												  
                                        </div>
                                        <!-- end of page content -->
										
								</div>
							</div>
						</div>
										
										
										
										<!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © All Rights Reserved by EESAST from Tsinghua
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>
				

                <!-- script -->
                <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
				<script type='text/javascript' src="{% static 'js/jflickrfeed.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.validate.min.js' %}"></script>


        </body>
</html>
