{% load static %}
<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="zh-CN"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="notice">
	            <meta name="author" content="zw">

                <title>第十八届电子设计大赛</title>

                
				
                <!-- Style Sheet-->
                
                <link rel='stylesheet' id='bootstrap-css-css'  href="{% static 'index/css/bootstrap.css' %}" type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href="{% static 'index/css/responsive.css' %}" type='text/css' media='all' /> 
                <!--<link rel='stylesheet' id='pretty-photo-css-css'  href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />-->
                <link rel='stylesheet' id='main-css-css'  href="{% static 'index/css/file.css' %}" type='text/css' media='all' />
                <!--<link rel='stylesheet' id='custom-css-css'  href='css/custom5152.html?ver=1.0' type='text/css' media='all' />-->


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->


        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">
								
                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="{% url 'index:index' %}"  id="eesast" style="font-size:17px; font-weight:bold;">
                                                      天赐良机
                                                </a>
                                             
                                        </div>


                                                                               <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                            <li><a href="{% url 'index:index' %}">主页</a></li>
                                                                <li><a href="{% url 'index:introduction' %}">赛事介绍</a></li>
                                                                <li><a href="{% url 'teams:index' %}">组建队伍</a></li>
                                                                {% if request.user.is_authenticated %}
                                                                <li><a href="{% url 'login:login' %}">用户</a></li>
																{% endif %}
																{% if not request.user.is_authenticated %}
																<li><a href="{% url 'login:login' %}">登录</a></li>
																{% endif %}
                                                                <li><a href="{% url 'community:community_index' %}">论坛</a></li>
                                                                <li  class="current-menu-item"><a href="{% url 'index:notice' %}">文件</a></li>
																<li><a href="{% url 'index:rule' %}">比赛规则</a></li>
                                                                <li><a href="#">更多</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="http://www.eesast.com" target="_blank">关于我们</a></li>
                                                                                <li><a href="{% url 'contact:contact' %}">联系我们</a></li>
                                                                        </ul>
                                                                </li>
                                                        </ul>
														<ul id="menu-top-right" class="clearfix">
														        <li><a href="http://www.eesast.com" target="_blank">电子系科协</a></li>
																<li style="font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; color: #c1cad1;">自动化系科协</li>
														</ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h2 class="search-header">第十八届电子设计大赛</h2>
                                <p class="search-tag-line">开始你的设计</p>
                        </div>
                </div>
                <!-- End of Search Wrapper -->

 <div class="container-fluid bs-docs-container">

      <div class="row">
	    <div class="span2" role="complementary" id="btn-block">
		 
		
		</div>
		<div role="file" id="file-block" class="span8">
        <form action="#" method="get" >
		{% if notice_list %}	
	  	{% csrf_token %}
		    {% for notice in notice_list %}
			  <div id="notice">
              <li id="lititle">{{notice.title}}</li>
              <p id="licontent" style="margin-top:10px;">{{notice.content}}</p>
			  {% if notice.file_attached %}
              <p id="file">文件：<a href="{% url 'index:download' notice.id %}">{{notice.title}}</a></p>

			  {% endif %} 
			  </div>
            {% endfor %} 
          </form> 
              {% else %} 
                <p  id="licontent" style="margin-top:10px;"> No Notices </p> 
              {% endif %} 

		 
          			
		</div>
	  </div>
		
		
		
		
    </div>
	<!-- script -->
                <script type='text/javascript' src="{% static 'index/js/jquery.min.js' %}"></script>
                <script type='text/javascript' src="{% static 'index/js/custom.js' %}"></script>
				<script type='text/javascript' src="{% static 'index/js/jflickrfeed.js' %}"></script>
<script type='text/javascript' src="{% static 'index/js/jquery.validate.min.js' %}"></script>
  </body>
  </html>
